services:
  gateway-service:
    build:
      context: ./services/gateway-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/gateway-service/src:/app/src
      - ./services/gateway-service/test:/app/test
    command: pnpm run start:dev
    env_file:
      - ./services/gateway-service/.env

  email-service:
    build:
      context: ./services/email-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/email-service/src:/app/src
    command: pnpm run dev
    env_file:
      - ./services/email-service/.env

  template-service:
    build:
      context: ./services/template-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/template-service/src:/app/src
    command: pnpm run dev
    env_file:
      - ./services/template-service/.env

  user-service:
    env_file:
      - ./services/user-service/.env
    volumes:
      - ./services/user-service:/var/www/html
      - ./services/user-service/storage:/var/www/html/storage
      - ./services/user-service/bootstrap/cache:/var/www/html/bootstrap/cache
